{% extends 'layouts/app.html' %}

{% block seo_header %}
    {% if object.seo_title %}
        <title>{{ object.seo_title }}</title>
    {% else %}
        <title>{{ object.title }}</title>
    {% endif %}
    <meta name="descritpion" content="{{ object.seo_description }}">
{% endblock %}

{% block content %}
    <div class="row py-4">
        <div class="col">
            <H1>{{ object.title }}</H1>
        </div>
    </div>

    <div class="row py-2">
        <div class="col">
            {{ object.body|safe }}
        </div>
    </div>
{% endblock %}